@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="https://i.pinimg.com/736x/90/0c/b7/900cb78ce5034404f1663d2b90ff32cf.jpg" style="width: 300px; height: 300px;" alt="Meme" />

    <div class="mt-4">
        <button class="btn btn-primary rounded-pill px-4 py-2" onclick="alert('Mi nombre es Mateo Sotomayor y mi hobbie es Volar Drones');">Mostrar Info</button>
    </div>
</div>
